[user]
	email = you e-mail
	name = you name

[alias]
	clear = ! git branch -d `git branch --merged | grep -v '^*\\|main\\|master\\|staging\\|develop'`
	amend = ! git commit --amend --no-edit
  	sync = ! git fetch --all --prune && git pull --all && git clear
	dev = ! git checkout develop && git fetch --all && git pull --all && git checkout -b `$1`
	main = ! git checkout main && git fetch --all && git pull --all && git checkout -b `$1`
	update = "!f() { git checkout $1 && git pull --all && git checkout - && git merge $1; }; f"
	create = "!f() { git checkout $1 && git pull --all && git checkout - && git checkout -b $2; }; f"

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[pull]
	rebase = false

[init]
	defaultBranch = main
